<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DetalleRegistroController</servlet-name>
        <servlet-class>com.controller.DetalleRegistroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroController</servlet-name>
        <servlet-class>com.controller.RegistroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoController</servlet-name>
        <servlet-class>com.controller.EmpleadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>com.controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParqueController</servlet-name>
        <servlet-class>com.controller.ParqueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetalleRegistroController</servlet-name>
        <url-pattern>/DetalleRegistroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroController</servlet-name>
        <url-pattern>/RegistroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoController</servlet-name>
        <url-pattern>/EmpleadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParqueController</servlet-name>
        <url-pattern>/ParqueController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
